<%= form_for([@avatar.test_number.app, @avatar.test_number, @avatar], :html => { :class => "form-horizontal" }) do |f| %>
  <% if @avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avatar.errors.count, "error") %> prohibited this avatar from being saved:</h2>

      <ul>
      <% @avatar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls"><%= f.text_field :name, :required => true %></div>
  </div>
  <div class="control-group">
    <%= f.label :number, :class => "control-label" %>
    <div class="controls"><%= f.text_field :number, :required => true %></div>
  </div>
  <div class="btn-group">
    <%= f.submit(:class => 'btn btn-large') %>
  </div>
  <div class="btn-group">
    <%= link_to 'Back', app_test_number_avatars_path, :class => 'btn btn-danger btn-large' %>
  </div>
<% end %>
